div{
    border: 2px solid;
    margin: 20px;
    color: #000000;
    font-size: 2.5vw;
}

.menu {
    grid-area: menu;
    float: left;
    width: 100%;
    margin: 5px;
}

#knapp4{
    border: 3px solid;
    background-color: red;
}

.footer{
    grid-area: footer;
}

/* .menuitem{
    border: 1px solid black;
    padding: 8px;
    background-color: red;
    margin: 2px;
} */

.body{
    grid-area: body;
    font-size: 20px;
}

html{
    background-color: #DD5555;
    /* background-image: url("images/redstuff.jpg"); */
    /* background-size: 100vmax 100vmax; */
}

.header{
    grid-area: header;
    font-size: 50px;
    font-family: PixelTorje;
    margin: auto;
}

.container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu news news news news news'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  background-color: #2196F388;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px 0;
}

@media (max-width:800px){
    .container{
        grid-template-areas:
        'header header header header header header'
          'menu menu menu menu menu menu'
          'body body body body body body'
          'right right right right right right'
          'footer footer footer footer footer footer';
    }
}
